/* ==========================================================================
   General styles
   ========================================================================== */

.section-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 500;
}
.portfolio-section-title {
  color: #252a34;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2.8em;
  font-weight: 500;
  text-transform: uppercase;
}
.portfolio-piece-details p {
  font-size: 1.4em;
  line-height: 1.5em;
}
.accent-bg-color {
  background-color: #4a90e2;
  color: #fefefe;
}
.white-bg-color {
  background-color: white;
}
a,
a:hover,
a:visited {
  color: #4a90e2;
  text-decoration: none;
}
iframe {
  border: none;
}

/*   Skills Section     */

#skills-section .col-sm-6 {
  padding-top: 30px;
}
#skills-section img {
  width: 130px;
}
#skills-section h2 {
  font-size: 1.4em;
  line-height: 1.3em;
  font-weight: 500;
  text-transform: uppercase;
}

/*   Latest Work Section     */

#latest-work-section .col-sm-6 {
  padding-top: 30px;
}
.coming-soon-image {
  position: absolute;
  z-index: 200;
  width: 35%;
}
.profile-card {
  position: relative;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.profile-card.active:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.profile-card h3 {
  color: #4a4a4a;
  margin-bottom: 0px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}
.profile-card h4 {
  color: #4a4a4a;
  margin-bottom: 0px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}
hr {
  color: #4a90e2;
  border-color: #4a90e2;
  margin: 1em;
}
.icon-bar {
  background-color: #4a90e2;
}
.portfolio-piece-image-wrapper {
  width: 100%;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
.portfolio-piece-image {
  width: 75%;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  top: 8%;
  padding-right: 10px;
  padding-left: 10px;
  transition: all 150ms ease;
  transition-delay: 0.5s;
}
.shadow-wrapper {
  width: 100%;
  position: absolute;
  top: 5%;
  margin-right: 8px;
  margin-left: 12px;
  min-height: 300px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.18);
}

/*   Up Next Section     */

#upnext-section .row {
  background-color: #404040;
  color: #fefefe;
}

#upnext-section h3 {
  font-weight: 900;
}

#upnext-section a {
  font-weight: 500;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*   Contact Section     */

#letstalk-section {
  font-weight: 400;
}

#letstalk-section .col-xs-12 {
  padding-left: 30px;
  padding-right: 30px;
}

/*   Footer Section     */

#footer .row {
  background-color: #011b3a;
}
#footer a,
#footer a:hover,
#footer a:visited {
  color: #979797;
  text-decoration: none;
}

/* ==========================================================================
   Begin Responsive Fonts
   ========================================================================== */

body,
html {
  /*       font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  /*    font-family: 'Open Sans', sans-serif;*/
  font-family: 'Hind', sans-serif;
  /*300-700*/
  font-size: 16px;
  font-weight: 300;
  line-height: 1em;
}
body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
}
img {
  width: 100%;
}
#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}
@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}
.name-header {
  font-size: 3em;
  margin: 0px;
  font-weight: 500;
  line-height: 1em;
}
@media (min-width: 43.75em) {
  .name-header {
    font-size: 5em;
  }
}
@media (min-width: 56.25em) {
  .name-header {
    font-size: 7em;
  }
}
.name-sub-header {
  font-size: 1.25em;
  margin: 0px;
}
@media (min-width: 43.75em) {
  .name-sub-header {
    font-size: 2em;
  }
}
@media (min-width: 56.25em) {
  .name-sub-header {
    font-size: 2.5em;
  }
}
h1,
.h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}
@media (min-width: 43.75em) {
  h1,
  .h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}
@media (min-width: 56.25em) {
  h1,
  .h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}
h2,
.h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}
@media (min-width: 43.75em) {
  h2,
  .h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  h2,
  .h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}
h3,
.h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}
@media (min-width: 43.75em) {
  h3,
  .h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  h3,
  .h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}
h4,
.h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}
@media (min-width: 43.75em) {
  h4,
  .h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}
@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

/* ==========================================================================
   End Responsive Font
   ========================================================================== */

/* ==========================================================================
   Start Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
}

/* Extra Large Devices, Wide Screens */

@media only screen and (min-width: 1400px) {
}

/* Extra Extra Large Devices, Wide Screens */

@media only screen and (min-width: 1600px) {
}

/* Extra Extra Large Devices, Wide Screens */

@media only screen and (min-width: 1900px) {
}

/* ==========================================================================
   End Media Queries
   ========================================================================== */

/** navbar **/

#navigation {
  position: relative;
  /*    top: 0;*/
}
#navigation.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  margin-bottom: 0px;
}
#navigation .navbar {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#navigation.sticky .navbar {
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.18);
}
.navbar-merged {
  background-color: #f5f5f5;
  margin: 0px !important;
  padding: 10px 0px;
}
.navbar-merged.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  margin-bottom: 0px;
}
.navbar-merged.sticky a {
  background-color: white;
}
.navbar-merged a {
  color: #4a90e2;
}
.navbar.navbar-merged {
  border-radius: 0;
  top: 20;
  left: 0;
  right: 0;
  border: none;
  z-index: 50;
  position: absolute !important;
}
.navbar-merged .navbar-nav {
  /*        padding-top: 20px;*/
}
.navbar-merged .navbar-nav > li {
  /*    height: 50px;*/
}
.navbar-merged .navbar-nav > li > a {
  padding: 0.3em 30px;
  font-weight: 300;
  transition: padding 0.2s ease-in-out 0;
  margin: 5px 0px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border: 2px solid;
  border-style: solid;
  overflow: visible;
  background-color: transparent;
  line-height: 1rem;
  font-size: 1.1rem;
  padding: 0.8em 1em 0.6em 1em;
  border-color: transparent;
}
.navbar-merged .navbar-nav > li > a:hover {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border-style: inset;
  border: solid #4a90e2 2px;
}
.navbar-merged.navbar-nav>li: hover {
  color: #fff;
  background-color: #4a90e2 !important;
}
.navbar-header {
  position: relative;
}
.navbar-brand {
  font-size: 32px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px;
  padding-left: 15px;
  height: 32px;
  line-height: 1.3em;
}
body {
  background-color: #f5f5f5;
}
.btn-white-border,
.btn-white-border:visited {
  border: 2px solid;
  border-radius: 5px;
  border-style: solid;
  color: #ffffff;
  overflow: visible;
  background-color: transparent;
  border-color: #ffffff;
  line-height: 1rem;
  font-size: 1.1rem;
  padding: 0.8em 1em 0.6em 1em;
}
.btn-white-border:hover,
.btn-white-border:focus,
.open .dropdown-toggle.btn-green-fill {
  color: #4a90e2;
  background-color: rgba(255, 255, 255, 1);
}
.btn-white-border:active,
.btn-white-border.active,
.open .dropdown-toggle.btn-white-border {
  background-image: none;
}
.btn-white-border.disabled,
.btn-white-border[disabled],
fieldset[disabled] .btn-white-border,
.btn-white-border.disabled:hover,
.btn-white-border[disabled]:hover,
fieldset[disabled] .btn-green-fill:hover,
.btn-white-border.disabled:focus,
.btn-white-border[disabled]:focus,
fieldset[disabled] .btn-white-border:focus,
.btn-white-border.disabled:active,
.btn-white-border[disabled]:active,
fieldset[disabled] .btn-white-border:active,
.btn-white-border.disabled.active,
.btn-white-border[disabled].active,
fieldset[disabled] .btn-white-border.active {
  background-color: transparent;
  border-color: transparent;
  color: darkgrey;
}
.btn-grey-border {
  border: 2px solid;
  /*     margin: 5px;*/
  color: #a8a8a8;
  overflow: visible;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border-style: inset;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0);
  line-height: 1rem;
  font-size: 1.1rem;
  padding: 0.8em 1em 0.6em 1em;
}
.btn-grey-border:hover,
.btn-grey-border:focus,
.btn-grey-border:active,
.btn-grey-border.active,
.open .dropdown-toggle.btn-green-fill {
  color: #979797;
  border: 2px solid;
  /*  background-color: rgba( 255, 255, 255, 1 );*/
}
.btn-grey-border:active,
.btn-grey-border.active,
.open .dropdown-toggle.btn-white-border {
  background-image: none;
}
.btn-grey-border.disabled,
.btn-grey-border[disabled],
fieldset[disabled] .btn-grey-border,
.btn-grey-border.disabled:hover,
.btn-grey-border[disabled]:hover,
fieldset[disabled] .btn-green-fill:hover,
.btn-grey-border.disabled:focus,
.btn-grey-border[disabled]:focus,
fieldset[disabled] .btn-grey-border:focus,
.btn-grey-border.disabled:active,
.btn-grey-border[disabled]:active,
fieldset[disabled] .btn-grey-border:active,
.btn-grey-border.disabled.active,
.btn-grey-border[disabled].active,
fieldset[disabled] .btn-grey-border.active {
  background-color: transparent;
  border-color: transparent;
  color: darkgrey;
}
.navbar-brand-wrapper {
  height: 50px;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .navbar-brand-wrapper {
    height: 50px;
    position: relative;
    width: 200px;
  }
}
.navbar-toggle {
  z-index: 10;
}
